<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>
    <%- include('../partials/front/css');%>
</head>

<body class="body-wrapper">
    <%- include('../partials/front/header');%>
        <section class="dashboard section">
            <!-- Container Start -->
            <div class="container">
                <!-- Row Start -->
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                        <%- include('../partials/user/sidebar');%>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                        <%- content %>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </section>
        <%- include('../partials/front/footer');%>
            <%- include('../partials/front/js');%>
</body>

</html>